<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="intro">
  <p>
    Hello and thank you for your interest! My name's Mike and this is my Ruby on Rails project as part of my learnings at Lighthouse Labs.
  </p>
  <p>
    We've been given a working commerce-style site and been asked to fix bugs and add features to a code base that is unfamiliar.
  </p>
  <p>
    It's not just the code base that is unfamiliar either, we've only been working with Ruby for a couple of weeks and this is the first real exposure we've had to the Rails framework!
  </p>
</div>